@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.bg-filtr {
  position: absolute;
  background: linear-gradient(
      179.59deg,
      #202020 -1.39%,
      rgba(63, 63, 63, 0) 101.17%
    ),
    linear-gradient(360deg, #000000 0%, rgba(63, 63, 63, 0) 100%);
}

.bg-filtr-low {
  position: absolute;
  background: linear-gradient(
      179.59deg,
      #202020 -1.39%,
      rgba(101, 101, 101, 0) 0%
    ),
    linear-gradient(360deg, #181818 0%, rgba(86, 86, 86, 0) 100%);
}

.darken-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.swiper-pagination-bullet {
  background-color: #ffc700;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
}

.main-board {
  height: 200vh;
}

.coming-soon-date {
  text-shadow: 4px 4px 16px black;
}

.rating {
  direction: rtl;
}

.fa-star:hover,
.fa-star:hover ~ .fa-star {
  transition: all 0.2s;
  color: #ffc700;
}

.bg-report {
  background-color: #0d120d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%230D120D'/%3E%3Cstop offset='1' stop-color='%23040E0C'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%2327311A' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2327311A' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%2327311A' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2327311A' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
