@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.bg-filtr {
  position: absolute;
  background: linear-gradient(
      179.59deg,
      #202020 -1.39%,
      rgba(63, 63, 63, 0) 101.17%
    ),
    linear-gradient(360deg, #000000 0%, rgba(63, 63, 63, 0) 100%);
}

.bg-filtr-low {
  position: absolute;
  background: linear-gradient(
      179.59deg,
      #202020 -1.39%,
      rgba(101, 101, 101, 0) 0%
    ),
    linear-gradient(360deg, #181818 0%, rgba(86, 86, 86, 0) 100%);
}

.darken-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.swiper-pagination-bullet {
  background-color: #ffc700;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
}

.main-board {
  height: 200vh;
}

.coming-soon-date {
  text-shadow: 4px 4px 16px black;
}

.rating {
  direction: rtl;
}

.fa-star:hover,
.fa-star:hover ~ .fa-star {
  transition: all .2s;
  color: #ffc700;
}
